.container {
  width: 100%;
  padding: 0 10%;
  background: $main-background-color;
}

.fav-icon {
  cursor: pointer;

  &:hover {
    color: $color-blue;
  }
}

.clickable-icon {
  color: black;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}